// buttons

.btn-big {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    background: $green;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 31px;
    background: $green;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    padding-bottom: 1px;
}

.btn-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 50px;
    background: $purple;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
}

// form-item

.form-item {
    display: block;
    position: relative;
}

.form-item_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-item_error {
    font-size: 12px;
    color: red;
}

.form-item_label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $black_3;
    margin-bottom: 4px;

    & > .required {
        color: $red;
    }
}

.form-item_input {
    display: block;
    width: 100%;
    height: 58px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: $black_1;
    background: $gray_1;
    border: 1px solid $gray_2;
    border-radius: 5px;
    padding: 19px 13px 19px 13px;

    &::-webkit-input-placeholder {
        font-family: 'Helvetica';
        font-size: 16px;
        color: $gray_3;
    }

    &:-ms-input-placeholder {
        font-family: 'Helvetica';
        font-size: 16px;
        color: $gray_3;
    }

    &::placeholder {
        font-family: 'Helvetica';
        font-size: 16px;
        color: $gray_3;
    }

    &.password {
        padding-right: 50px;
    }

    &.area {
        resize: none;
    }
}

.form-item_file {
    display: block;
    width: 100%;
    background: $gray_1;
    border: 1px solid $gray_2;
    border-radius: 5px;
    padding: 16px;

    .form-item_file-add {
        position: relative;
        width: 92px;
        height: 92px;
        background: $gray_5;
        border-radius: 4px;
        cursor: pointer;

        &:after, &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 38px;
            height: 4px;
            border-radius: 4px;
            background: $green;
            z-index: 1;
        }

        &:after {
            transform: translateX(-50%) translateY(-50%);
        }

        &:before {
            transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }
    }

    .form-item_file-input {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}


.form-item_input-wrap {
    position: relative;
}

.form-item_icon {
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    top: 23px;
    right: 18px;
    z-index: 1;
    fill: $black;
    cursor: pointer;

    &.hidden {
        fill: $gray_4;
    }
}