* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-width: 320px;
    background: #fff;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}