$green: #349A89;

$black: #000000;
$black_1: #101010;
$black_2: #282828;
$black_3: #303030;
$black_4: #373738;
$black_5: #2A2A2A;
$black_6: #2B2B2B;

$black_gradient:linear-gradient(180deg, #090810 0%, #171236 100%);

$white: #FFFFFF;

$gray: #F2F2F2;
$gray_1: #F9FAFB;
$gray_2: #DEDEE0;
$gray_3: rgba(102, 102, 102, 0.466455);
$gray_4: #8C8C8C;
$gray_5: #E4E4E4;

$purple:#3E3961;