$green: #349A89;

$black: #000000;
$black_1: #101010;
$black_2: #282828;
$black_3: #303030;
$black_4: #373738;

$white: #FFFFFF;
$gray_1: #F9FAFB;
$gray_2: #DEDEE0;
$gray_3: rgba(102, 102, 102, 0.466455);